*{
    margin: 0;
    padding: 0;
    /* background-color: gray; */
}


#body-header{
    /* background-color: lightblue; */
    background-image: url(pngtree-technological-sense-geometric-line-simple-image_19419.jpg);
    opacity: 0.95;
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
    background-size: cover;
    background-attachment: fixed;
    /* height: 65vh; */
}


/* ---- NAVIGATION BAR ---- */

.horizontal-list li{
    display: inline-block;
    padding: 15px;
}

.horizontal-list{
    text-align: center;
}

.horizontal-list li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(173, 223, 183);
    font-weight: 900;
    border-bottom: 0px solid red ;
   
}

.horizontal-list li a:hover{
    color: rgb(112, 213, 110);
}

.horizontal-list li a::after{
    content: '';
    width: 00%;
    height: 3px;
    background:#3f9274 ;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.horizontal-list li a:hover::after{
    width:100%;
    opacity: 0.8;
    transform: 0.7s;
    
}


/* ---- NAME CONTAINER ----- */



#name-social-container {
    margin-top: 10vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.08rem;
    color: rgb(155, 150, 218);
    font-weight: 700;
    margin-bottom: 0rem;
    text-align: center;
  
}

.social-icons{
    text-align: center;
    margin-top: -12px;
}

.social-icons li {
    display: inline-block;
    padding: 10px;
    border-radius: 100%;
    /* margin: 5px; */
}

/* .social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
} */

.social-icons li a{
    text-decoration: none;
    font-size: 11px;
    color: rgb(220, 231, 222);
    font-weight: 500;
    border-bottom: 0px solid red ;
}

.social-icons li a img {
    width: 2.4rem;
    padding: 8px;
}

.social-icons li a::after{
    content: '';
    width: 00%;
    height: 3px;
    background:gray ;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.social-icons li a:hover::after{
    width:100%;
    opacity: 0.8;
    transform: 0.7s;
    
}


#git{
    width: 3rem;;
}



/* --- IMAGE MY PROFILE ---- */


#my-image {
    height: 14rem;
    width: 14rem;
    margin: auto;
    margin-top: -14vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;

}

#my-image img:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}



/* --- ABOUT --- */


#about{
    background-color: rgb(11, 12, 70);
    background-attachment: fixed;
    padding-bottom: 40px;
}


#first-para{
    padding-top: 15px;
    background-color: #172a33;
    width: 70%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px 10px 10px 10px;
}

#about p{
    font-family: cursive;
    /* background-color: rgb(131, 163, 163); */
    color: aliceblue;
    text-align: center;
    width: 90%;
    margin: auto;
    /* padding-top: 20px; */
    font-size: 1.1rem;
    font-weight: 300;
    word-spacing: 0.3rem;

    /* height: 400px; */
}




/* ---- SKILLS ---- */

#skills{
    /* margin-top: -vh; */
    background-color: #111827;
    padding-bottom: 50px;
    min-height: 55vh;
}

#skills h1{
    color:#307ff6;
    font-weight: 10000;
    font-size: 2.4rem;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 0.11rem;
}

#stat{
    margin-top: 7vh ;
    margin-left: 40%;
}


/* ---- C LANGUAGE ---- */

#c-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}


#c-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 2vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#c-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1vh;
}



/* ---- JAVA ---- */

#java-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}



#java-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 5vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#java-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1vh;
}


/* --- Python--- */

#python-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}



#python-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 4vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#python-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1vh;
}


/* --- HTML --- */

#cpp-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}



#cpp-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 5vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#cpp-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1vh;
}



/* ---- Html ---- */

#html-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}



#html-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 4vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#html-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1vh;
}



/* --- CSS --- */

#css-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}



#css-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 5vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#css-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1.5vh;
}

/*--- JAVASCRIPT ----*/
#javas-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}



#javas-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 4vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#javas-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1.5vh;
}


/* ---- GIt --- */

#git-lang{
    /* width: -moz-fit-content; */
    /* width: fit-content; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    width: 27vh;
    height: 10vh;
    margin-top: 25px;
    margin-left: 40px;
    border-radius: 10px 10px 10px 10px ;
    display: flex;

}



#git-lang h4{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 6vh;
    font-size: 1.2rem;
    font-family: calibri;
}

#git-lang img{
    display: inline-block;
    width:7vh;
    height:7vh;
    margin-left: 1vh;
    margin-top: 1vh;
}





#tools{
    /* margin-top: 20px; */
    margin: auto;
    margin-top: 40px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* flex-direction: column; */
}



/* ---- EXPERIENCE ---- */

#experience{
    height: 110vh;
    background-color:rgb(11, 12, 70);
}


#experience h1{
    color: azure;
    font-weight: 10000;
    font-size: 2.4rem;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 0.11rem;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.timeline{
    position: relative;
    width:75%;
    /* border:2px solid black; */
    margin: auto;
}

.timeline-box{
    position: relative;
    width: 40%;
    left:3%;
    min-height: 150px;
    /* border:2px solid black; */
    margin: 5px;
    color: azure;
}

.timeline-box:nth-child(2n){
    left:56%;
}

.timeline-divider{
    position: absolute;
    height:75%;
    width: 0px;
    border: 1px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-travel{
    margin-left: -3vh;
    position: sticky;
    top:25%;
    transform: rotate(135deg);
    color: aliceblue;
    /* font-size: 5.8vh; */
    /* margin-left: 5%; */
}

.timeline-travel i::before{
    left: 19vh;
}





#education{
    /* ; */
    background-color: #111827;
}


#education h1{
    color:#307ff6;
    font-weight: 10000;
    font-size: 2.4rem;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 0.11rem;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.timeline-travel2{
    margin-left: -8px;
    position: sticky;
    top:25%;
    transform: rotate(0deg);
    color: aliceblue;
    /* font-size: 5.8vh; */
    /* margin-left: 5%; */
}

.timeline-travel2 i::before{
    left: 19vh;
}




#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    margin-top: -2vh;
    color: white;
    padding-bottom: 40px;
}

#contact h1{
    color: azure;
    font-weight: 10000;
    font-size: 2.4rem;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 0.11rem;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#contact-form {
    margin-left: 10%;
}

#contact-container {
    display: flex;
} 

#my-details-container {
    width: 35%;
    margin-left: 10%;
} 

#my-details-container h3 {
    margin-bottom: 15px;
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}


#sp{
    margin-bottom: 25px;
}

#contact-form-container {
    width: 50%;
    /* margin-left: 10%; */
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.my-details-info-container {
    margin-bottom: 5px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    /* margin-left: 0.4rem; */
}

.my-details-info-container a {
    margin-bottom: 5px;
    color: #d9dcdd;
    font-size: 1rem;
    text-decoration: none;
}







#contact-form input,textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px;
    border-bottom: 3px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    /* line-height: 1.6; */
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 5px 5px 5px 5px;
    color: white;
    /* font-family: sans-serif; */
    font-weight: 700;
    letter-spacing: 0.046875em;
    /* line-height: 1; */
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
    cursor: pointer;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus, 
textarea:focus,
button:focus {
    outline: none;
} 
